a.link {
    text-decoration-line: underline;
    text-decoration-color: #b09eff;
}

a:visited {
    color:  #b5fdff;
    text-decoration-line: line-through;
    text-decoration-color: #b09eff ;
}

a:hover {
background-color: yellow;
background-image: linear-gradient(to right, 
#B3EDFF , #BDCCFF, #DBABFF, #F5B3FF,  
#FFAEF5);
}

a:active {
    text-decoration-line: line-through;
    text-decoration-color: #b09eff ;
}

nav{
    text-align: center;
  font-family: 'DM Mono', monospace;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Stars {
    animation: Stars 4s linear infinite ;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes Stars {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
}

body{
    text-align: center;
    background-image: url(images/Starsbackground.svg);
    background-color: #fbf2ff;
}

header{
    text-align: center;
}

.main{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 800px;
    grid-template-areas: 
    "section 1 section2 section3"
    "section4 section5 section6"
    "aboutme aboutme aboutme";
    justify-items: center;
    align-items: center;

}

.section1 {
    grid-area: section1;
    justify-content: space-evenly;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.section4 {
    grid-area: section4;
}

.section5 {
    grid-area: section5;
}

.section6 {
    grid-area: section6;
}

.aboutme {
    grid-area: aboutme;
    align-self: center;
    justify-content: space-evenly;
}

.center {
    text-align: center; 
    list-style-position: inside;
}


h1 {
    font-family: 'DM Mono', monospace;
    font-size: 45pt;
    text-align: center;
    color: #e3a3ff;
    width: 1000px;
    padding: 0;    
    margin: auto;
}

h2 {
    font-family: 'DM Mono', monospace;
    font-size: 22.5pt;
    text-align: center; 
    color: #e3a3ff;
    width: 1000px;
    padding: 5px;
    margin: auto;
}

h3 {
    font-size: 14pt;
    font-family: 'DM Mono', monospace;
    text-align: center;
    color:#b647ff;
    padding: 10px;
}

p{
    color: #c180ff;
    font-family: 'DM Mono', monospace;
    font-size: 10.5pt;
    padding: 10px;
}

img {
    padding: 5px;
}

li , footer {
    font-family: 'DM Mono', monospace;
    color: #c180ff;
    font-size: 10pt;
}
figcaption {
    font-family: 'DM Mono', monospace;
    font-weight: bold;
    color: #c180ff;
    font-size: 9pt;
}

table {
    font-family: 'DM Mono', monospace;
    font-weight: bold;
    color: #c180ff;
    font-size: 10pt;
    text-align: center;
    padding: 20px;
}

figure {
    text-align: center;
}

.centertable {
    text-align: center; 
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
}

form, fieldset {
    color: #c180ff;
    font-family: 'DM Mono', monospace;
    font-size: 10.5pt;
    padding: 10px;
    display: grid;
    text-align:  center;
    grid-template-columns: 400px;
    justify-content: center;
}